.CartItemContainer {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 20vw;
    margin-right: 20vw;
    .CartImage {
        margin-left: 5vw;
        img {
            border: 1px solid black;
            border-radius: 15px;
            width: 150px;
            height: 150px;
        }
    }
    .CartContent {
        margin: 30px;
        .CartTitle {
            font-weight: bold;
            font-size: 2.5rem;
        }
        .CartPrice {
            font-size: 1rem;
            margin-left: 30px;
        }
    }
}
.ReturnShopping {
    background-color: #EECEC7;
    border: 1px solid black;
    color: white !important;
    padding: 8px 15px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 1.4rem;
        &:hover {
            background-color: #CF9082;
        }
}
// .CheckoutButton {
//     button {
//     background-color: #EECEC7;
//     border: 1px solid black;
//     color: white !important;
//     padding: 8px 45px;
//     text-align: center;
//     font-weight: bold;
//     display: inline-block;
//     font-size: 1.4rem;
//         &:hover {
//             background-color: #CF9082;
//         }
//     }
// }

@media (max-width: 700px) {
    .CartItemContainer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        // flex-direction: column;
        // justify-content: center;
        margin-top: 15px;
        margin-bottom: 10px;
        .CartImage {
            display: flex;
            justify-content: center;
            img {
                border: 1px solid black;
                border-radius: 15px;
                width: 25vw;
                height: 25vw;
            }
        }
        .CartContent {
            .CartTitle {
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
            }
            .CartPrice {
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                margin-right: 35px;
            }
        }
    }
}