.slick-list {
    .slick-track {
        .slick-slide {
            height: 340px;

            .SlickImg {
                display: flex;
                .SlickHeader {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .TopHeader {
                        height: 500px;
                        h2 {
                            font-size: 3rem;
                            color: white;
                            display: flex;
                            justify-content: center;
                        }
                        h3 {
                            font-size: 2rem;
                            color: white;
                        }
                }
            }
            
            
        }
                .one {
                    background-image: url("https://source.unsplash.com/random");
                    background-position: center center;
                    background-size: auto;
                    background-repeat: no-repeat;
                }
    }
}
}