.HomePage {
    .Image {
        margin-left: 20vw;
        margin-right: 20vw;
        width: 60vw;;
        height: 100%;
        position: relative;
        text-align: center;
        color: white;
        img {
            height: 100%;
            width: 100%;
        }
        .Title {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 3rem;
            .h1 {
                font: bold;
            }
        }
    }
}

@media (max-width: 700px) {
    .HomePage {
        display: flex;
        .Image {
            margin-left: 0px;
            margin-right: 0px;
            img {
                width: 96vw;
                height: 100%;
                
            }
        }
    }
}